<article class="user-container">
  <% @users.each do |user| %>
      
        <section class="user">
          <img class="image" src="<%= user.photo %>" alt="User Avatar" />
          <div class="user-info">
            <h2><%= user.name %></h2>
              
            <p class="post-count">Number of posts: <%= user.posts_counter || 0 %> </p>
              
          </div>
        </section>
    
  <% end %>
</article>


