/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.user {
  display: grid;
  grid-template-columns: 20vw 1fr;
  margin-bottom: 5vw;
  column-gap: 1vw;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  color: black;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
}

.image {
  width: 20vw;
}

.user-name {
  font-size: 2.5em;
  font-weight: bold;
  margin: 0;
}

.Bio {
  display: flex;
  flex: 1;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
  padding: 2vw;
  margin-bottom: 2vw;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row-end {
  display: flex;
  gap: 1vw;
  justify-content: flex-end;
  margin-right: 2vw;
}

.flex-row-middle {
  display: flex;
  gap: 1vw;
  justify-content: center;
  margin-right: 2vw;
  padding: 2vw;
}

.td-none {
  text-decoration: none;
  color: black;
}

.posts {
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
  padding: 2vw;
  margin-bottom: 2vw;
}

.fs-3 {
  font-size: 3vw;
}

.button {
  background-color: rgb(42, 42, 42); /* Green */
  border: none;
  color: white;
  padding: 2vw;
  text-decoration: none;
  font-size: 3vw;
  cursor: pointer;
  border-radius: 0.5rem;
  width: fit-content;
  margin: 1vw auto 1vw auto;
}

.comments-container {
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
  padding: 2vw;
}

.post-comment-container {
  margin-bottom: 5vw;
  padding: 2vw;
}

.dflex-saround {
  display: flex;
  justify-content: space-between;
  padding: 2vw;
}

.container-post-id {
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 2vw;
}

.post-title-id {
  padding: 2vw;
}
